.forgot-pwd {
  color: #0a38e6;
  font-size: 14px;
}

.card-title {
  font-size: 40px;
}

.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .fa-eye {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.right-addon .fa-eye {
  right: 0px;
}

/* add padding  */
.right-addon input {
  padding-right: 30px;
}

.fa-eye {
  cursor: pointer ;
}

.remember-size {
  color: #000;
}

img:focus{
  outline: 2px solid #0A38E6;
  border-radius: 50%;
 }


 img:hover{
   outline: 2px solid #0A38E6 ;
   border-radius: 50%;
 }

input:focus {
  outline: none;
  border: 2px solid #0A38E6 !important;
}

a:focus {
  outline: 2px solid #001996 !important;
}
  
a:hover {
  outline: 2px solid #0A38E6 !important;
}

#email.form-control:focus{
  box-shadow: none !important;
 
}

#password.form-control:focus{
  box-shadow: none !important;
 
}

input[type="checkbox"]:focus {
  outline: 2px solid #0A38E6 !important;
}


button:hover{
  outline :1px solid #0a58ca !important;
  border: 1px solid #0a58ca !important;
}
