a:focus-visible{   
  outline-color: #001996 !important ;
}

.tab-width {
  width: 220px !important;
}

.nav-tabs .nav-link {
  padding: 0.75rem 1rem !important;
}

.tab-width-2 {
  width: 150px !important;
}