.label-quickPay {
  position: absolute;
  width: 100%;
  height: 100px;
  background-position: 94% 0;
}

input:focus {
  outline: none;
  border: 2px solid #0A38E6 !important;
}

button:hover{
  outline :1px solid #0a58ca !important;
  border: 1px solid #0a58ca !important;
}

