.error {
    background-color: red;
    color: white;
    font-weight: bold !important;
}

::ng-deep .warning {
    background-color: #acacac;
    color: white;
    font-weight: bold !important;
}

.success {
    background-color: green;
    color: white;
    font-weight: bold !important;
}

.modal-body { font-size: 15px;
    white-space: pre-wrap;
    text-align: center;
}

.modal-footer {
    text-align: center;
    display: inherit;
}

.modal-title {
    font-weight: bold !important;
}

::ng-deep .modal-content {
    max-width: 750px !important;
}

.fa-icon-field {
    height: 100% !important;
}

.form-control:focus{
    outline: 3px solid #0A38E6 !important;
    border: none !important;
    box-shadow: none !important;
}
.sec-btn:focus{
    outline: 3px solid #001996;
    background-color: #ffffff !important;
    color: #001996 !important;
    box-shadow: none !important;
    border: none !important;
  }