.error {
    background-color: red;
    color: white;
    font-weight: bold !important;
}

::ng-deep .warning {
    background-color: #acacac;
    color: white;
    font-weight: bold !important;
}

.success {
    background-color: green;
    color: white;
    font-weight: bold !important;
}

.modal-body { font-size: 15px;
    white-space: pre-wrap;
    text-align: center;
}

.modal-footer {
    text-align: center;
    display: inherit;
}

.modal-title {
    font-weight: bold !important;
}

.modal-content {
    max-width: 400px !important;
}

.fa-icon-field {
    height: 100% !important;
}

input[type='text']:focus{
    outline: 2px solid #001996 !important;
    border: none !important;
    box-shadow: none !important;
}

img:focus{
    outline: 2px solid #001996 !important;
    border-radius: 50%;
   }